<body class="d-flex h-100 text-center text-white bg-dark" >
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="min-height: 100vh; background-image: url('assets/checkout.jpg'); background-size: cover; background-position: center;">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Shopping Store</h3>
          <nav class="nav nav-masthead  float-md-end">
            <a style="color:rgb(255, 230, 8);  font-weight:bold;  font-family:Lato;" class="nav-link active" aria-current="page" href="#">Home</a>
            <a  style="color:rgb(255, 230, 8); font-weight:bold;   font-family:Lato;"  routerLink="/products"  class="nav-link" >Products</a>
            <a style="color:rgb(255, 230, 8);   font-family:Lato; font-weight:bold;"  routerLink="/cart"  class="nav-link" href="#">Cart</a>
            <a style="color:rgb(255, 230, 8);   font-family:Lato; font-weight:bold;"  routerLink="/login"  class="nav-link" href="#">Login</a>
           
          </nav>
        </div>
      </header>
  
      <h1 style="color:rgb(223, 223, 10); font-family:Lato; font-weight:bold; font-size: 80px; text-align: center;">Check Out</h1>
      
      <div class="cart-container float-md-center">
          <!-- Cart items content -->
        </div>
  
  
  
      <footer class="mt-auto text-black-50">
        <p>Visit fatima at  <a href="https://github.com/faticoco" class="text-black">Github</a></p>
      </footer>
    </div>
  </body>
  