<div class="cart-container" style="height: 550px; overflow: auto; display: flex; flex-wrap: wrap;">
<div *ngFor="let p of FilteredProducts" class="card" style="width: 15rem; flex: 0 0 calc(33.33% - 10px); margin: 5px;">
    <img [src]="p.imageUrl" class="card-img-top">
    <div class="card-body">
      <h3 class="card-title" style=" font-family:Lato; font-weight:bold; font-size: 30px;">{{p.title}}</h3>
      <p class="card-text">{{p.price |currency:'USD':true}}</p>
      <a  class="button btn btn-primary">Add to Cart</a>
     </div>
  </div>
  </div>