  <!-- <div > -->
        <!-- <label >Email</label>
        &nbsp; &nbsp;
        <input 

        #email
        ngModel
            name="email" 
            type="text" 
          >
            
    </div>
     
    <div >
        <label >Password</label>
        &nbsp; 
        <input 
        ngModel
            name="password" 
            type="text" 
          >
           
            
    </div> -->
 
    <button class="btn btn-primary"  (click)="onclick()"  >Login</button>
    


 
    <br> <br>
    <nav>
        <a routerLink="/signup" > <button class="btn btn-primary" >  Signup </button>  </a>
    </nav>




   
     

