
<body class="d-flex h-100 text-center text-white bg-dark" >
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="min-height: 100vh; background-image: url('assets/addproduct.jpg'); background-size: cover; background-position: center;">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Shopping Store</h3>
          <nav class="nav nav-masthead  float-md-end">
            <a style="color:rgb(10, 10, 16);  font-family:Lato; font-weight:bold" class="nav-link active" aria-current="page" href="#">Home</a>
            <a  style="color:rgb(9, 9, 16);  font-family:Lato; font-weight:bold"  routerLink="/products"  class="nav-link" >Products</a>
            <a style="color:rgb(1, 1, 1); font-family:Lato; font-weight:bold"  routerLink="/cart"  class="nav-link" href="#">Cart</a>
            <a style="color:rgb(0, 0, 1);  font-family:Lato; font-weight:bold"  routerLink="/login"  class="nav-link" href="#">Login</a>
           
          </nav>
        </div>
      </header>
  
     
      <h1 style="color:rgb(0, 0, 0); font-family:Lato; font-weight:bold; font-size: 60px; text-align: center;">Add new Product</h1>
      
     
<div class="container">
    <div class="form-container">
      
<form #f="ngForm" (ngSubmit)="save(f.value)">
    <div class="form-group">
      <label for="title">Title</label>
      <div class="input-container">
        <input  #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
              Title is required
        </div>
      </div>
    </div>
  

 
    
    <div class="form-group">
      <label for="price">Price</label>

      <div class="input-group  input-container ">
        <span class="input-group-text">$</span>
        <input  #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" [min]="0"  required>
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          Price is required
        </div>
        <div class="alert alert-danger" *ngIf="price.errors?.['min']">
          Price should be zero or higher
        </div>
      </div>
  
    <div class="form-group">
      <label for="category">Category</label>
      <div class="input-container">
      <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
        <option value="">
          
        </option>
        <option *ngFor="let c of categories$ |async" [value]="c.name" >
          {{c.name}}
        </option>
      </select>

      <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
        Category is required
      </div>


      </div>
    </div>
  
    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <div class="input-container">
        <input
          #imageUrl="ngModel"
          [(ngModel)]="product.imageUrl"
          name="imageUrl"
          id="imageUrl"
          type="text"
          class="form-control"
          required
        >
      </div>

      <div class="alert alert-danger" *ngIf="imageUrl.touched || imageUrl.hasError('pattern')">
        Please enter a valid URL for the image
      </div>
    </div>
    
  
    <button class="btn btn-primary">Save</button>
  </form>
  
  </div>

  <div class="card" style="width: 35rem;">
    <img [src]="product.imageUrl" class="card-img-top">
    <div class="card-body">
      <h3 class="card-title" style="color:rgb(40, 30, 149); font-family:Lato; font-weight:bold; font-size: 30px;">{{product.title}}</h3>
      <p class="card-text">{{product.price |currency:'USD':true}}</p>
     
    </div>
  </div>
  
  </div>
  



  
  
  
      <footer class="mt-auto text-white-50">
        <p>Visit fatima at  <a href="https://github.com/faticoco" class="text-white">Github</a></p>
      </footer>
    </div>
  </body>
  

