<body class="d-flex h-100 text-center text-white bg-dark" >
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="min-height: 100vh; background-image: url('assets/image6.png'); background-size: cover; background-position: center;">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Shopping Store</h3>
          <nav class="nav nav-masthead  float-md-end">
            <a style="color:white;  font-family:Lato;" class="nav-link active" aria-current="page" href="#">Home</a>
            <a  style="color:white;  font-family:Lato;"  routerLink="/products"  class="nav-link" >Products</a>
            <a style="color:white;  font-family:Lato;"  routerLink="/cart"  class="nav-link" href="#">Cart</a>
            <a style="color:white;  font-family:Lato;"  routerLink="/login"  class="nav-link" href="#" *ngIf="!user">Login</a>
           
          </nav>
        </div>
      </header>
  <main>
      <h1 style="color:white; font-family:Lato; font-weight:bold; font-size: 80px; text-align: center;">Logged out</h1>
      
  </main>
  
  
      <footer class="mt-auto text-white-50">
        <p>Visit fatima at  <a href="https://github.com/faticoco" class="text-white">Github</a></p>
      </footer>
    </div>
  </body>
  